:root {
    --primary: #379100;
    --secondary: #001358;
    --sub: #E3F2FF;
    --black: #000000;
    --sub-black: #525463;
    --darkgrey: #818181;
    --grey: #F8F8F8;
    --light-beige: #f5f2f0;
    --white: #fff;
}