:root {
    --primary: #379100;
    --primary-opacity: rgba(55, 145, 0, 0.08);
    --secondary: #001358;
    --progress-trail: #E3F2FF;
    --black: #000000;
    --sub-black: #525463;
    --darkgrey: #626471;
    --grey: #F8F8F8;
    --background: #f5f2f0;
    --white: #fff;
}